

<form #codeform=ngForm (ngSubmit)=findUser(codeform) >

    <div class="form-group">
    <label>User Id</label>
    <input type="any" name="userId"   ngModel class="form-control">
  </div>
    <input type="submit" value="Search" class="btn btn-success">
  </form>
  <br>
  
  <div *ngIf="user!==undefined">
    <ul style="position: relative;margin-top: 45px;">
   <li> Id is {{user.userId}}</li>
   <li>  Name is {{user.userName}}</li>
   <li> Type is {{user.userType}}</li>
   <li>  Email is {{user.email}}</li>
   <li>  phone number is {{user.userPhone}}</li>
   <li> Password is {{user.password}}</li>
  </ul>
  <p>list-user works!</p>
  
  </div>