

<form #codeform=ngForm (ngSubmit)=findPassenger(codeform) >

    <div class="form-group">
    <label>pnrNumber</label>
    <input type="any" name="pnrNumber"   ngModel class="form-control">
  </div>
    <input type="submit" value="Search" class="btn btn-success">
  </form>
  <br>
  
  <div *ngIf="passenger!==undefined">
    <ul style="position: relative; margin-top: 60px;">
     <li> pnrNumber is  {{passenger.pnrNumber}}</li>
     <li> Name is {{passenger.passengerName}}</li>
     <li> Age is {{passenger.passengerAge}}</li>
     <li> UIN is {{passenger.passengerUIN}}</li>
     <li> Gender is {{passenger.gender}}</li>
  </ul>
 
  
  </div>